<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css"/>
</head>
<body>
    <h1>Post List!</h1>
    {% for post in posts %}
        <div>{{post.title}}
        {{post.author}}
        {{post.created_date}}
        {{post.published_date}} </div>
    {% endfor %}
<!--    <h1>Post List!</h1>-->
<!--    <div>-->
<!--        <p>published: 12.11.2019, 14:38</p>-->
<!--        <h2><a href="">My first post</a></h2>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque doloribus ea illo, inventore magni non ut! Adipisci consectetur cumque dolorem dolores et laboriosam maiores molestias nesciunt nostrum, quae vel!</p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p>published: 12.11.2019, 14:38</p>-->
<!--        <h2><a href="">My first post</a></h2>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque doloribus ea illo, inventore magni non ut! Adipisci consectetur cumque dolorem dolores et laboriosam maiores molestias nesciunt nostrum, quae vel!</p>-->
<!--    </div>-->
</body>
</html>